body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  margin-right: 0;
  font-family: "Roboto", sans-serif;
}

/* Sidebar */

.sidebar-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: auto 2fr;
  color: #eee;
  padding-left: 0.5rem;
  background-color: #2f53b5;
}

.branding {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 0.75rem;
  align-items: center;
}

.dash-header {
  font-size: 2rem;
  font-weight: 600;
}

.nav-list {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(10, 3.1rem);
  padding: 0;
}

.nav-item {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 0.75rem;
}

.nav-item-icon {
  width: 28px;
  height: 28px;
  align-self: center;
}

.nav-link {
  font-size: 1.5rem;
  align-self: center;
}

/* Header */

.header-container {
  display: grid;
  grid-template-rows: 4rem 6rem;
  gap: 0.5rem;
  padding: 1rem;
}

.header-top-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search-section {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}

#search-icon,
.notify-icon {
  width: 1.75rem;
  height: 1.75rem;
}

#search-icon {
  justify-self: center;
}

#search-input {
  height: 1.75rem;
  width: 500px;
  border-radius: 1.5rem;
  background-color: #cedde7;
  border-style: none;
}

.user-top {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-items: center;
  align-items: center;
}

#user-avatar-top {
  width: 50px;
  height: 50px;
}

.user-name {
  font-size: 1.25rem;
  font-weight: 600;
}

.user-bottom {
  font-size: 2rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.user-greeting {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.user-greeting > img {
  width: 75px;
  height: 75px;
  align-self: center;
}

.greeting {
  font-size: 1.5rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-weight: 600;
}

.greeting > p {
  margin: 0;
  align-self: end;
  font-size: 1rem;
}

.header-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.header-btn {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  width: 7.25rem;
  height: 2.5rem;
  background-color: #2f53b5;
  border: none;
  border-radius: 1.25rem;
}

.main-content-container {
  background-color: #cedde7;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0.5rem;
  gap: 1.5rem;
}

/* Projects */
.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.project-card {
  display: grid;
  grid-template-rows: 175px 50px;
  padding: 0 1rem;
  height: 225px;
  background-color: #eee;
  border: 10px orange;
  border-style: none none none solid;
  border-radius: 0.2rem;
}

.project-top {
  padding: 2px;
}

.project-card-name {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.project-descript {
  margin-top: 0;
  color: #6f6969;
  font-size: 1.05rem;
}
.project-icons-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.project-icons-list {
  list-style: none;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  justify-items: center;
}

.project-icon {
  width: 2rem;
  height: 2rem;
}

.main-sidebar {
  display: grid;
  grid-template-rows: auto 1fr;
  margin-right: 15px;
}

/* Announcements */
.announcements-list {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(3, 110px);
  padding: 10px 30px;
  align-items: center;
  background-color: #eee;
}

.announcement {
  font-size: 1rem;
  display: grid;
}

.announce-title {
  margin-bottom: 0;
  margin-top: 0;
}

.announce-text {
  color: #6f6969;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.95rem;
}

/* Trending */
.trending-list {
  list-style: none;
  display: grid;
  background-color: #eee;
  padding: 20px;
  align-items: center;
  gap: 1.25rem;
}

.user-avatar {
  width: 60px;
  height: 60px;
}

.trend-project {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.trend-text {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 0.25rem;
}

.user-handle {
  align-self: end;
}
